!!!
%html

  %head
    %title
      - if content_for? :title
        = yield(:title)
        = " - "
      Geospeed
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "og:title", content: "Geospeed"}
    %meta{name: "og:url", content: "http://geospeed.co"}
    %meta{name: "og:image", content: "/ios/iTunesArtwork@2x.png"}
    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@heynky"}
    %meta{name: "twitter:title", content: "Geospeed"}
    %meta{name: "twitter:url", content: "http://geospeed.co"}
    %meta{name: "twitter:image", content: "http://geospeed.co/ios/iTunesArtwork@2x.png"}
    %meta{name: "twitter:description", content: "An app for getting the speed limit wherever you are."}
    %meta{name: "og:description", content: "An app for getting the speed limit wherever you are."}
    %meta{name: "description", content: "An app for getting the speed limit wherever you are."}
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    %link{rel: "apple-touch-icon", href: "/ios/AppIcon.appiconset/Icon-40@2x.png", sizes: "80x80"}
    %link{rel: "apple-touch-icon", href: "/ios/AppIcon.appiconset/Icon-60@2x.png", sizes: "120x120"}
    %link{rel: "apple-touch-icon", href: "/ios/AppIcon.appiconset/Icon-60@3x.png", sizes: "180x180"}
    %link{rel: "apple-touch-icon", href: "/ios/AppIcon.appiconset/Icon-76.png", sizes: "76x76"}
    %link{rel: "apple-touch-icon", href: "/ios/AppIcon.appiconset/Icon-76@2x.png", sizes: "152x152"}
    %link{rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = favicon_link_tag
    = yield(:head)
    = analytics_init if Rails.env.production?
    <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
    analytics.load("uNtiVDMc05D6dLPQc2TCO8niaEh8KFfX");
    analytics.page()
    }}();
    </script>
  %body
    = yield
